@media screen and (max-width: 767px) {
    .orange-title20{
        font-size: 16px;
    }
    .small-wrapper{
        padding: 0 20px;
    }
    .founder-info-box img {
        max-width: 214px;
        margin-left: -10px;
    }
    .image-row {
        padding: 0 20px;
    }
    .sidebar-question {
        margin-right: 25px;
    }
    .privacy-header li:last-child{
        display: none;
    }
    .privacy-header li h1 {
        letter-spacing: 3.4px;
        font-size: 23px;
        text-align: right;
    }
    .privacy-header {
        padding: 22px 0;
    }
}
@media screen and (max-width: 667px) {
    .sidebar-question {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }
    .question-answer-section {
        flex-direction: column;
    }
    .question-answer .question-title {
        font-size: 18px;
    }
    .question-answer p {
        font-size: 15px;
    }
    .question-answer-row {
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 550px) {
    .date-select-row {
        flex-direction: column;
    }
    .coming-soon-top-banner h1 {
        font-size: 30px;
    }
    .image-row {
        padding: 0;
    }

}
